.simply-countdown {
  overflow: hidden;
  display: table;
  font-family: "Arial", sans-serif;
  margin: auto;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  float: left;
  margin: 10px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
  color: red;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 1.6rem;
}

/* media query */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }

  .susunan::before {
    left: 60px;
  }

  .susunan li .susunan-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .susunan li .susunan-panel {
    width: calc(100% - 200px);
    float: right;
  }

  .susunan li .susunan-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .susunan li .susunan-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 5px;
  }

  .navbarku .offcanvas-title {
    color: black;
  }

  .navbarku .nav-link {
    text-align: center;
    font-size: 2rem;
    color: black !important;
  }

  .home {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .sticky-top {
    overflow: hidden;
  }

  .penanda {
    font-size: medium;
  }

  .susunan li .susunan-image {
    width: 140px;
    height: 140px;
  }
}

/* handphone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 3px;
  }
  .susunan li .susunan-image {
    width: 80px;
    height: 80px;
  }

  .susunan li .susunan-panel {
    width: 60%;
    transform: translatex(-20px);
  }

  .susunan li .susunan-panel::before{
    top: 30px;
  }
  .susunan li .susunan-panel::after{
    top: 31px;
  }
}
